@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');


/* Basic for all website */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-button-color:#ff4949 ;
    --primary-text-color:#3bae38;
    --secondary-text-color:#fe563e;
    --accent-color:#ff4b47;
    --accent-color-dark:#21dcfd;
    --padding-inline-section:20px;
    --primary-write-color:#184d5b;
    --secondary-write-color:#144864;

}

body{
    font-family: 'Poppins',sans-serif;
    color: var(--primary-write-color);
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
h4{
    font-size: 1.18rem;
}
p{
    font-family: 'Roboto',sans-serif;
    font-size: 1.23rem;
    line-height: 1.8rem;
    color: var(--secondary-write-color);
}
a{
    text-decoration: none;
    display: inline-block;
}




/* utility class */
.container{
    max-width: 1230px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
}

.small-bold-text{
    font-size: 1.1rem;
    font-weight: 700;
}
.flex{
    display: flex;
    align-items: center;
}
ul{
    list-style: none;
}
.hover-links{
    color: var(--primary-write-color);
    transition: 0.2s ease-out;
}
.hover-links:hover{
    color: var(--accent-color-dark);
}
.primary-button{
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 700;
    padding: 12px 24px;
    color: white !important;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
}
.primary-button:hover{
    background-color: var(--accent-color-dark);
    box-shadow: 0 0 2px var(--secondary-word-color);
}
.secondary-button{
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 700;
    padding: 12px 24px;
    color: var(--primary-button-color) !important;
    transition: 0.2s ease-out;
}
.secondary-button:hover{
    border-color: var(--accent-color-dark);
    color: var(--accent-color-dark) !important;
}

/* top banner */
.top-banner{
    background-color: #3d8f9d;
    background-image: url('./Images/asset\ 30.png') ;
    background-size: 300px;
}


.banner-text{
    color: white;
    padding: 15px 30px;
    text-align: center;
}


/* navbar */
.main{
    margin-top: 25px;
    justify-content: space-between;
}
.left img{
    width: 150px;
}
.right{
    flex-basis: 730px;
}
.right ul{
    justify-content: end;
    gap: 35px;
}
.small-text{
    font-size: 1.1rem;
    font-weight: 400;
}


/* information */
.feature{
    padding: 80px var(--padding-inline-section) 0;
    margin-bottom: 50px;
}
.feature-header{
    text-align: center;
}
.feature-header h2{
    margin-bottom: 20px;
}
.cont{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
}


